/* 
    Document   : kSCbasic
    Created on : 16.04.2013, 11:38:07
    Author     : sbaresel
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: SansProLight;
    src: url(SourceSansPro-Regular.ttf) format("truetype");
}

body {
    color:#000;
    line-height:1;
    font-family: SansProLight;
    font-size: 16px;
    /*min-width: 950px;
    min-height: 855px;*/
}

.login_username {
    font-size: 20px;
}

.login_shortname {
    font-size: 14px;
}

.UserDesc, .LtDesc {
    font-size: 12px;
    color: #fff;
}

#UserMenu {
    position: absolute;
    top: 55px;
    right: 25px;
    width: 400px;
    border: 0px solid #82abcc;
}

#UserMenu table {
    float: left;
}

#UserMenu table td {
    padding-left: 5px;
}

#UserMenu table td:first-child {
    width: 150px;
}

#UserView {
    position: absolute;
    top: 56px;
    right: 445px;
}

#UserView table tr:last-child td {
    font-size: 14px;
    color: #82abcc;
    padding-top: 4px;
}

#ShortMenu {
    position: absolute;
    top: 42px;
    right: 25px;
    padding: 3px;
    border: 2px solid #82abcc;
    z-index: 5;
}

#ShortMenuIndex {
    position: absolute;
    top: 44px;
    right: 25px;
    width: 126px;
    height: 45px;
    padding: 3px;
    border-left: 2px solid #82abcc;
}

#ShortMenu img {
    width: 26px;
    padding: 6px;
}

#ShortMenu img + img +img {
    border: 2px solid #004279;
}

#ShortMenu img:hover {
    cursor: pointer;
    opacity: 0.7;
    -moz-opacity: 0.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter:alpha(opacity=70);
    -webkit-opacity: 0.7;
    -ms-opacity: 0.7;
    -o-opacity: 0.7;
}

.UserReload {
    cursor: pointer;
}

.Font82abcc {
    color: #82abcc;
    cursor: pointer;
}

.Fontffffff {
    color: #fff;
    cursor: pointer;
}

.theme-box {
	position: absolute;
	right: 45px;
	top: 43px;
	display:inline-block;
	width:45px;
	height:45px;
	margin:3px;
	cursor: default;
	vertical-align:middle;
}

#AjaxLoader {
    position: absolute;
    top: 57px;
    left: 640px;
}

#ConfigurationTabs {
}

#ConfigurationSection {
    width: 97%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
}

#ConfigurationSectionTitle {
    margin-top: -24px;
    padding: 5px;
    background-color: #004c8a;
    border-bottom: 1px solid #82abcc;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.ConfigurationSectionPoint {
    margin-top: 10px;
}

#SuccessDialog {
    font-size: 16px;
    color: #40FF00;
}

#SuccessDialog p{
    margin-top: 15px;
}

#TableModulversionen {
    font-size: 16px;
    width: 300px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 50px;
}

#TableIcinga, #TablePostgre, #TableConfig {
    margin-left: 30px;
    width: 650px;
    table-layout: fixed;
}

#TableIcinga td:first-child, #TablePostgre td:first-child, #TableConfig td:first-child {
    width: 250px;
}

#TableIcinga td:last-child, #TablePostgre td:last-child {
    width: 400px;
    font-size: 12px;
}

#TableConfig td:last-child {
    width: 115px;
}

#TableIcinga tr:first-child, #TablePostgre tr:first-child {
    color: #82abcc;
    font-size: 12px;
    font-weight: bold;
}

#back-div a>img {
    position: absolute;
    left: 15px;
    top: 50px;
    opacity: 0.4; 
    -moz-opacity: 0.4; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter:alpha(opacity=40);
    -webkit-opacity: 0.4; 
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    z-index: 5;
}

#back-div a>img:hover {
    opacity: 1.0; 
    -moz-opacity: 1.0; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -webkit-opacity: 1.0; 
    -ms-opacity: 1.0;
    -o-opacity: 1.0;
}
    
#center a span.host-sub-grid {
    font-size: 14px;
    letter-spacing: 0px;
    color: #82abcc;
}

#center a img.Type {
    width: 48px;
    margin-left: -10px;
    margin-bottom: -12px;
    margin-right: 5px;
}

.RadioBorder {
    /*border: 1px solid #82abcc;*/
}

#TopMenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    font-size: 12px;
    width: 100%;
    z-index: 5;
}

#TopMenu table {
    margin-left: 10px;
}

#TopMenuIcon {
    margin-top: 2px;
    margin-bottom: -4px;
}

#TopMenuIconGear {
    margin-top: 2px;
    margin-bottom: -4px;
    margin-left: 5px;
    cursor: pointer;
}

.Onclick, #back-div a>img {
    cursor: pointer;
}

#top {
    z-index: 5;
}

#TopMenuIndTa {
    margin-top: 4px;
}

#TopMenu a, #TopMenu td:last-child {
    opacity: 0.7; 
    -moz-opacity: 0.7; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter:alpha(opacity=70);
    -webkit-opacity: 0.7; 
    -ms-opacity: 0.7;
    -o-opacity: 0.7;
}

#TopMenu a:hover, #TopMenu td:last-child:hover {
    opacity: 1.0; 
    -moz-opacity: 1.0; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -webkit-opacity: 1.0; 
    -ms-opacity: 1.0;
    -o-opacity: 1.0;
}

#TopMenu td:last-child {
    cursor: default;
}

#ExtSysInfo {
    display: none;
    position: absolute;
    width: 300px;
    height: 250px;
    border: 1px solid #82abcc;
    background-color: #004c8a;
    top: 23px;
    left: 150px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 6px 1px #002b4e;
    box-shadow: 0px 0px 6px 1px #002b4e; 
}

#HostStatusSlim {
    margin-top: 3px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

.ON {
    color: green;
}

.OFF {
    color: red;
}

#ExtSysInfoIcon {
    margin-top: -25px;
    margin-left: -7px;
}

#ExtSysInfoTable {
    margin-top: 15px;
    font-size: 14px;
}

#ExtSysInfoTable td:first-child {
    text-align: right;
}

#ExtSysInfoTableIcon {
    margin-bottom: -2px;
}

#SearchImgInput {
    position: absolute;
    width: 29px;
    padding: 2px;
    top: 125px;
    right: 52px;
    border: 2px solid #004279;
    cursor: pointer;
    opacity: 0.8; 
    filter: alpha(opacity=80); 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
    -moz-opacity: 0.8; 
    -khtml-opacity: 0.8;
}

#SearchImgInput:hover {
    opacity: 1; 
    filter: alpha(opacity=100); 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    -moz-opacity: 1; 
    -khtml-opacity: 1;
}

/* Metro Kacheln */

#center a.prebig, #center a.normal, #center a.numbers, #center a.fulltext, #center a.preview, #center a.twitter, #center a.stats, #center a.ticker, #center a.icon, #center a.search, #center a.big, #center div.big, #center a.service { background: #004c8a; border:1px solid #82abcc; font-size:16px; }

#center a.prebig#center a.normal:hover, #center a.numbers:hover, #center a.fulltext:hover, #center a.preview:hover, #center a.twitter:hover, #center a.stats:hover, #center a.ticker:hover, #center a.icon:hover, #center a.search:hover, #center a.service:hover { background: #82abcc; border:1px solid #82abcc; font-size:16px; }

#center a.big:hover, #center a.prebig:hover, #center a.big:hover>span {  }

#center a.AddNext { opacity: 0.1; filter: alpha(opacity=10); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; -moz-opacity: 0.1; -khtml-opacity: 0.1;}
#center a.AddNext:hover { opacity: 1.0; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -moz-opacity: 1.0; -khtml-opacity: 1.0; }

#center a.normal:hover>span, #center a.numbers:hover>span, #center a.fulltext:hover>span, #center a.preview:hover>span, #center a.twitter:hover>span, #center a.stats:hover>span, #center a.ticker:hover>span, #center a.icon:hover>span, #center a.search:hover>span, #center a.ticker:hover>.subcontent, #center a.service:hover>span { color: #004c8a; }

.metro-pivot {
	padding: 45px;
	overflow: hidden;
}

#center {
        padding-left: 45px;
        position: absolute;
        left: 0px;
        top: 210px;
        bottom: 55px;
        overflow-x: auto;
        overflow-y: auto;
        right: 0px;
}

#center a:focus {
	outline:0
}

#center section{
	display:inline-block;
}

#center a{
	display:block;
	float:left;
	margin:4px;
	height:100px;
	width:260px;
	padding:25px;
	z-index:0;
	color:#fff;
	font-size:18px;
	text-decoration:none;
}

#center a span{
	font-size:36px;
	letter-spacing:-3px;
}

#center a span.sub-grid {
    font-size: 16px;
    letter-spacing: 0px;
}

#center a img{
	display:inline;
	margin:-25px 0 0 -25px;
}

#center a.icon, #center a.search, #center a.AddNext{
	width:100px;
}

#center a.AddNext>img {
	margin-top: 25px;
	margin-left: 22px;
}

#center a.preview{
	font-size:30px;
}

#center a.preview img{
	display:block;
	margin-bottom:5px
}

#center a.twitter{
	height: 100px;
	width: 260px;
}

#center a.images {
	padding:0;
	width:302px;
	height:152px;
}

#center a.stats {
	width: 580px;
	height: 260px;
}

#center a.ticker {
	width: 260px;
	height: 260px;
}

#center a.service {
        padding: 0;
	width: 280px;
	height: 80px;
}

#center a.big {
	height: 360px;
}

#center a.fulltext {
	width: 280px;
        height: 85px;
}

#center a.big .small-text {
	letter-spacing: 0px;
	font-size: 20px;
	font-weight: bold;
}

center#ad-container {
	padding-top:5px;
	border-top:solid 1px #eee;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background:white;
}

#center a.prebig {
    height: 260px;
}

.taovok:hover {
    background-color: #004279;
}

.taovok {
    background-color: #004c8a;
}

.taovcr {
    background-color: #9c1919;
}

.taovun {
    background-color: #6c006c;
}

.taovwa {
    background-color: #004c8a;
}

.taovcr:hover {
    background-color: #8b1616;
    cursor: pointer;
}

.taovun:hover {
    background-color: #490049;
    cursor: pointer;
}

.taovwa:hover {
    background-color: #004279;
    cursor: pointer;
}

#FooterDivTableHostsListView {
    position: absolute;
    bottom: 73px;
    border-left: 2px solid #82abcc;
    border-right: 2px solid #82abcc;
    border-bottom: 2px solid #82abcc;
    font-size: 12px;
    padding: 9px;
    background-color: #004c8a;
    cursor: default;
}