/* 
    Document   : kSCservices
    Created on : 11.04.2013, 16:34:16
    Author     : sbaresel
    Description:
        Purpose of the stylesheet follows.
*/

#SrvCenter {
	/*padding: 45px;*/
	/*overflow: hidden;*/
}

#NoContent {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 12px;
}

.default {
    background-color: #004279;
    border: 2px solid #004c8a;
}

.ok {
    background-color: #088A08;
    border: 2px solid #088A08;
}

.cr {
    background-color: #ff3333;
    border: 2px solid #ff3333;
}

.un {
    background-color: #C800C8;
    border: 2px solid #C800C8;
}

.wa {
    background-color: orange;
    border: 2px solid orange;
}

.pe {
    background-color: #C800C8;
    border: 2px solid #C800C8;
}

.fok {
    color: #088A08;
}

.fcr {
    color: #ff3333;
}

.fun {
    color: #C800C8;
}

.fwa {
    color: orange;
}

.Notice {
    color: #82abcc;
}

.hcr {
    background-color: #9c1919;
}

.hun {
    background-color: #6c006c;
}

.hwa {
    background-color: orange;
}

.hok {
    background-color: #088A08;
}

.hpe {
    background-color: grey;
}

#HeadDivShowServices {
    padding: 10px;
    background-color: #004279;
    border-left: 2px solid #82abcc;
    border-right: 2px solid #82abcc;
    border-top: 2px solid #82abcc;
    font-size: 24px;
}

#FooterDivShowServices {
    position: absolute;
    padding: 10px;
    background-color: #004279;
    border-left: 2px solid #82abcc;
    border-right: 2px solid #82abcc;
    border-bottom: 2px solid #82abcc;
    font-size: 14px;
    bottom: 65px;
}

#DivShowServices {
    position: absolute;
    overflow-x: auto;
    overflow-y: scroll;
    bottom: 70px;
    top: 150px;
    border: 1px solid #82abcc;
}

.FontSmallShowCritical {
    font-size: 12px;
    color: #82abcc;
}

.FontBigShowCritical {
    font-size: 12px;
    font-weight: bold;
}

.DefFontBigShowCritical {
    font-size: 12px;
    font-weight: bold;
    color: #82abcc;
}

.BorderBottom {
    border-bottom: 1px solid #82abcc;
}

#TableShowServices td:first-child + td + td {
    border-left: 1px solid #82abcc;
}

#ImgServiceStatus {
    margin-bottom: -5px;
}

#DivShowServices table {
    width: 100%;
    border: 1px solid #82abcc;
    font-size: 14px;
}

#DivShowServices table td:first-child {
    width: 30px;
    text-align: center;
}

#DivShowServices table td:first-child + td {
    width: 300px;
}

#DivShowServices table td:first-child + td + td {
    border-left: 2px solid #82abcc;
    padding: 3px;
}

#DivShowServices table td:first-child + td + td + td {
    padding: 3px;
    width: 200px;
    color: #82abcc;
    font-size: 12px;
}

#HostIcon {
    width: 40px;
}

#HostText {
    position: absolute;
    margin-left: 30px;
    margin-top: 7px;
}

#HostText b {
    font-size: 20px;
}

#HostStatusIcon {
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
}

#SubDivShowServices {
    margin-top: -2px;
}

#ServiceLst table {
    margin-left: -32px;
}

#ServiceLst table:first-child {
    margin-top: -15px;
}

#ServiceLst table:last-child {
    margin-bottom: -14px;
}

#DivTableHostsListView {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 55px;
    width: 100%;
    top: 210px;
    background-color: #004279;
    z-index:0;
    border-bottom: 1px solid #82abcc;
}

#ListDivShowServices table:first-child {
    /*margin-top: 10px;*/
}

#DivTableHostsListView table {
    width: 99%;
    border-spacing:0;
    border-collapse:collapse;
    margin-bottom: 5px;
    margin-top: 3px;
    font-size: 12px;
    table-layout: fixed;
}

#DivTableHostsListView table tr {
    vertical-align: middle;
}

#DivTableHostsListView table tr:first-child td:first-child img {
    width: 32px;
    margin-bottom: -23px;
    margin-left: 4px;
}

#DivTableHostsListView table tr:first-child td:first-child {
    width: 50px;
    text-align: center;
    background-color: #004279;
    border-top: 1px solid #004279;
    border-bottom: 1px solid #004279;
}

#DivTableHostsListView table tr:first-child td:first-child + td {
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    background-color: #004279;
    border-top: 1px solid #004279;
}

#DivTableHostsListView table tr:first-child + tr td:first-child {
    padding: 5px;
    background-color: #004279;
    border-bottom: 1px solid #004279;
}

#DivTableHostsListView table tr:first-child td:first-child + td + td {
    width: 100px;
    border-left: 1px solid #82abcc;
    border-top: 1px solid #82abcc;
    border-bottom: 1px solid #82abcc;
    padding: 5px;
}

#DivTableHostsListView table tr:first-child td:first-child + td + td + td, #DivTableHostsListView table tr:first-child td:first-child + td + td + td + td, #DivTableHostsListView table tr:first-child td:first-child + td + td + td + td + td, #DivTableHostsListView table tr:first-child td:first-child + td + td + td + td + td + td, #DivTableHostsListView table tr:first-child td:first-child + td + td + td + td + td + td + td {
    width: 25px;
    text-align: center;
    border-left: 1px solid #82abcc;
    border-top: 1px solid #82abcc;
    border-bottom: 1px solid #82abcc;
}

#DivTableHostsListView table tr:first-child td:first-child + td + td + td + td + td + td + td + td {
    border-left: 1px solid #82abcc;
    border-top: 1px solid #82abcc;
    border-bottom: 1px solid #82abcc;
    padding-left: 5px;
}

#DivTableHostsListView table tr:first-child td:first-child + td + td + td + td + td + td + td + td + td {
    width: 180px;
    color: #82abcc;
    border-top: 1px solid #82abcc;
    border-bottom: 1px solid #82abcc;
    border-right: 1px solid #82abcc;
}

/**/

#HeadDivTableHostsListView {
    position: absolute;
    top: 55px;
    padding: 9px;
    cursor: default;
    /*background-color: #004279;*/
    font-size: 12px;
    color: #82abcc;
}

#HeadDivTableHostsListView span:first-child {
    margin-left: 95px;
}

#HeadDivTableHostsListView span:first-child + span {
    margin-left: 140px;
}

#HeadDivTableHostsListView span:first-child + span + span {
    margin-left: 48px;
}

#HeadDivTableHostsListView span:first-child + span + span + span {
    margin-left: 12px;
}

#HeadDivTableHostsListView span:first-child + span + span + span + span, #HeadDivTableHostsListView span:first-child + span + span + span + span + span, #HeadDivTableHostsListView span:first-child + span + span + span + span + span + span, #HeadDivTableHostsListView span:first-child + span + span + span + span + span + span + span {
    margin-left: 12px;
}

#HeadDivTableHostsListView span:first-child + span + span + span + span + span + span + span + span {
    margin-left: 50px;
}

/*
*
* Select
*
*/

#HostsListSelect {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 450px;
    height: 31px;
    color: white;
    border: 2px solid #82abcc;
}

#HostsListSearch {
    position: absolute;
    top: 12px;
    left: 525px;
    height: 31px;
    color: white;    
    cursor: pointer;
}

#HostsPane {
    position: absolute;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #82abcc;
    border-top: 1px solid #82abcc;
    top: 128px;
    left: 0px;
    /*-moz-box-shadow: 0 -2px 11px 2px #000;
    -webkit-box-shadow: 0 -2px 11px 2px #000;
    box-shadow: 0 -2px 11px 2px #000;*/
    z-index: 1;
    background-color: #004c8a;
}

#AutoReload {
    position: absolute;
    top: 193px;
    right: 25px;
    color: #82abcc;
    cursor: default;
    width: 225px;
    z-index: 5;
}

#AutoReloadStat {
    color: #ffffff;
    cursor: pointer;
}

#AutoReloadDate {
    position: absolute;
    top: 0;
    left: -75px;
}

#VLOne {
    position: fixed;
    width: 1px;
    background-color: #82abcc;
    top: 185px;
    bottom: 55px;
    /*height: 500px;*/
    left: 260px;

}

#VLTwo {
    position: fixed;
    width: 1px;
    background-color: #82abcc;
    top: 185px;
    bottom: 55px;
    /*height: 500px;*/
    left: 371px;

}

#VLThree {
    position: fixed;
    width: 1px;
    background-color: #82abcc;
    top: 185px;
    bottom: 55px;
    /*height: 500px;*/
    left: 397px;
}

#VLFour {
    position: fixed;
    width: 1px;
    background-color: #82abcc;
    top: 185px;
    bottom: 55px;
    /*height: 500px;*/
    left: 423px;
}

#VLFive {
    position: fixed;
    width: 1px;
    background-color: #82abcc;
    top: 185px;
    bottom: 55px;
    /*height: 500px;*/
    left: 449px;
}

#VLSix {
    position: fixed;
    width: 1px;
    background-color: #82abcc;
    top: 185px;
    bottom: 55px;
    /*height: 500px;*/
    left: 475px;
}

#VLSeven {
    position: fixed;
    width: 1px;
    background-color: #82abcc;
    top: 185px;
    bottom: 55px;
    /*height: 500px;*/
    left: 501px;
}