/* 
    Document   : kSCservices
    Created on : 11.04.2013, 16:34:16
    Author     : sbaresel
    Description:
        Purpose of the stylesheet follows.
*/

.default {
    background-color: #004279;
    border: 2px solid #004c8a;
}

.ok {
    background-color: #088A08;
    border: 2px solid #088A08;
}

.cr {
    background-color: #ff3333;
    border: 2px solid #ff3333;
}

.un {
    background-color: #C800C8;
    border: 2px solid #C800C8;
}

.wa {
    background-color: orange;
    border: 2px solid orange;
}

.pe {
    background-color: #C800C8;
    border: 2px solid #C800C8;
}

.fok {
    color: #088A08;
}

.fcr {
    color: #ff3333;
}

.fun {
    color: #C800C8;
}

.fwa {
    color: orange;
}

.taovok:hover {
    background-color: #004279;
}

.taovcr {
    background-color: #9c1919;
}

.taovun {
    background-color: #6c006c;
}

.taovwa {
    background-color: #004c8a;
}

.taovcr:hover {
    background-color: #8b1616;
    cursor: pointer;
}

.taovun:hover {
    background-color: #490049;
    cursor: pointer;
}

.taovwa:hover {
    background-color: #004279;
    cursor: pointer;
}

.Notice {
    color: #82abcc;
}

#HeadDivShowServices {
    padding: 10px;
    background-color: #004279;
    border-left: 2px solid #82abcc;
    border-right: 2px solid #82abcc;
    border-top: 2px solid #82abcc;
    font-size: 24px;
}

#FooterDivShowServices {
    position: absolute;
    padding: 10px;
    background-color: #004279;
    border-left: 2px solid #82abcc;
    border-right: 2px solid #82abcc;
    border-bottom: 2px solid #82abcc;
    font-size: 14px;
    bottom: 65px;
}

#DivShowServices {
    position: absolute;
    overflow-x: auto;
    overflow-y: scroll;
    bottom: 70px;
    top: 150px;
    border: 1px solid #82abcc;
}

.FontSmallShowCritical {
    font-size: 12px;
    color: #82abcc;
}

.FontBigShowCritical {
    font-size: 12px;
    font-weight: bold;
}

.DefFontBigShowCritical {
    font-size: 12px;
    font-weight: bold;
    color: #82abcc;
}

.BorderBottom {
    border-bottom: 1px solid #82abcc;
}

#TableShowServices td:first-child + td + td {
    border-left: 1px solid #82abcc;
}

#ImgServiceStatus {
    margin-bottom: -5px;
}

#DivShowServices table {
    width: 100%;
    border: 1px solid #82abcc;
    font-size: 14px;
}

#DivShowServices table td:first-child {
    width: 30px;
    text-align: center;
}

#DivShowServices table td:first-child + td {
    width: 300px;
}

#DivShowServices table td:first-child + td + td {
    border-left: 2px solid #82abcc;
    padding: 3px;
}

#DivShowServices table td:first-child + td + td + td {
    padding: 3px;
    width: 200px;
    color: #82abcc;
    font-size: 12px;
}

#HostIcon {
    width: 40px;
}

#HostText {
    position: absolute;
    margin-left: 30px;
    margin-top: 7px;
}

#HostText b {
    font-size: 20px;
}

#HostStatusIcon {
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
}

#SubDivShowServices {
    margin-top: -2px;
}