/* 
    Document   : kSCtaov
    Created on : 11.04.2013, 16:34:16
    Author     : sbaresel
    Description:
        Purpose of the stylesheet follows.
*/

#SlimTaov {
    margin-top: 0px;
    padding: 5px;
    color: white;
    font-size: 12px;
}

#SlimTaov a {
    color: white;
}

#SlimTaov table td {
    padding: 3px;
}

#SlimTaov table {
    border-spacing: 4px 0px;
}

.default {
    background-color: #004279;
    border: 2px solid #004c8a;
}

.ok {
    background-color: #088A08;
    border: 2px solid #088A08;
}

.cr {
    background-color: #ff3333;
    border: 2px solid #ff3333;
}

.un {
    background-color: #C800C8;
    border: 2px solid #C800C8;
}

.wa {
    background-color: orange;
    border: 2px solid orange;
}

.pe {
    background-color: #C800C8;
    border: 2px solid #C800C8;
}

.fok {
    color: #088A08;
}

.fcr {
    color: #ff3333;
}

.fun {
    color: #C800C8;
}

.fwa {
    color: orange;
}

.taovcr {
    background-color: #9c1919;
}

.taovun {
    background-color: #6c006c;
}

.taovwa {
    background-color: #004c8a;
}

.taovcr:hover {
    background-color: #8b1616;
    cursor: pointer;
}

.taovun:hover {
    background-color: #490049;
    cursor: pointer;
}

.taovwa:hover {
    background-color: #004279;
    cursor: pointer;
}

.taovok:hover {
    background-color: #004279;
    cursor: pointer;
}

.Notice {
    color: #82abcc;
}

#tshowcritical {
	border: 1px solid #82abcc;
	width: 1100px;
}

#HeaderHostPie, #HeaderServicePie {
    position: absolute;
    top: 15px;
    margin-left: 25px;
    font-size: 24px;
}

#HeadDivShowCritical {
    padding: 10px;
    background-color: #004279;
    border-left: 2px solid #82abcc;
    border-right: 2px solid #82abcc;
    border-top: 2px solid #82abcc;
    font-size: 24px;
}

#FooterDivShowCritical {
    padding: 10px;
    background-color: #004279;
    border-left: 2px solid #82abcc;
    border-right: 2px solid #82abcc;
    border-bottom: 2px solid #82abcc;
    font-size: 14px;
}

#DivShowCritical {
    overflow-x: auto;
    overflow-y: scroll;
    height: 415px;
}

#HeadComments {
    position: absolute;
    top: 10px;
    padding: 10px;
    background-color: #004279;
    border-left: 2px solid #82abcc;
    border-right: 2px solid #82abcc;
    border-top: 2px solid #82abcc;
    font-size: 24px;
}

#FooterComments {
    padding: 10px;
    background-color: #004279;
    border-left: 2px solid #82abcc;
    border-right: 2px solid #82abcc;
    border-bottom: 2px solid #82abcc;
    font-size: 14px;
}

#Comments {
    position: absolute;
    top: 55px;
    height: 230px;
    overflow-x: auto;
    overflow-y: scroll;
    border: 2px solid #82abcc;
}

#TableComments {
    border-bottom: 1px solid #82abcc;
    border-top: 1px solid #82abcc;
}

#TableComments:hover {
    background-color: #004279;
}

#TPie {
    height: 200px;
}

.FontSmallShowCritical {
    font-size: 12px;
    color: #82abcc;
}

.FontBigShowCritical {
    font-size: 12px;
    font-weight: bold;
}

.DefFontBigShowCritical {
    font-size: 12px;
    font-weight: bold;
    color: #82abcc;
}

.BorderBottom {
    border-bottom: 1px solid #82abcc;
}

#TableShowCritical td:first-child + td + td {
    border-left: 1px solid #82abcc;
}

#ImgServiceStatus {
    margin-bottom: -15px;
}

#DivShowCritical {
    border: 1px solid #82abcc;
}

#DivShowCritical table {
    width: 100%;
    border: 1px solid #82abcc;
    font-size: 14px;
}

#DivShowCritical table tr:first-child td:first-child {
    width: 30px;
    text-align: center;
}

#DivShowCritical table tr:first-child td:first-child + td {
    width: 300px;
    color: #82abcc;
}

#DivShowCritical table tr:first-child td:first-child + td + td {
    border-left: 2px solid #82abcc;
    padding: 3px;
}

#DivShowCritical table tr:first-child td:last-child {
    width: 250px;
    text-align: right;
    color: #82abcc;
    padding: 3px;
}

#DivShowCritical table tr:last-child td:first-child {
    width: 300px;
    text-align: left;
    font-style: italic;
}

#DivShowCritical table tr:last-child td:last-child {
    text-align: left;
    border-left: 2px solid #82abcc;
    padding: 3px;
}

#TaovImgServiceAck {
    margin-top: -14px;
    margin-left: -45px;
}

#TaovImgServiceCmt {
    margin-top: -18px;
    margin-left: -25px;
}

.TextComment {
    font-size: 11px;
    color: #82abcc;
    padding: 5px;
}

.TextSrvHst {
    font-size: 13px;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.TextHeader {
    font-size: 13px;
    color: #82abcc;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.TextHeader i {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}