/* 
    Document   : kSCtaov
    Created on : 11.04.2013, 16:34:16
    Author     : sbaresel
    Description:
        Purpose of the stylesheet follows.
*/

#SlimTaov {
    margin-top: 0px;
    padding: 5px;
    color: white;
    font-size: 12px;
}

#SlimTaov a {
    color: white;
}

#SlimTaov table td {
    padding: 3px;
}

#SlimTaov table {
    border-spacing: 4px 0px;
}

.default {
    background-color: #004279;
    border: 2px solid #004c8a;
}

.ok {
    background-color: #088A08;
    border: 2px solid #088A08;
}

.cr {
    background-color: #ff3333;
    border: 2px solid #ff3333;
}

.un {
    background-color: #C800C8;
    border: 2px solid #C800C8;
}

.wa {
    background-color: orange;
    border: 2px solid orange;
}

.pe {
    background-color: #C800C8;
    border: 2px solid #C800C8;
}

.fok {
    color: #088A08;
}

.fcr {
    color: #ff3333;
}

.fun {
    color: #C800C8;
}

.fwa {
    color: orange;
}

.Notice {
    color: #82abcc;
}

#tshowcritical {
	border: 1px solid #82abcc;
	width: 1100px;
}

#HeaderHostPie, #HeaderServicePie {
    position: absolute;
    top: 15px;
    margin-left: 25px;
    font-size: 24px;
}

#DivShowCritical {
    padding: 15px;
    overflow-x: auto;
    overflow-y: scroll;
    height: 470px;
}

#Comments {
    height: 290px;
    overflow-x: auto;
    overflow-y: scroll;
    float: left;
    padding: 15px;
}

#TPie {
    height: 200px;
}

.FontSmallShowCritical {
    font-size: 12px;
    color: #82abcc;
}

.FontBigShowCritical {
    font-size: 12px;
    font-weight: bold;
}

.DefFontBigShowCritical {
    font-size: 12px;
    font-weight: bold;
    color: #82abcc;
}

#ImgShowCritical {
    margin-bottom: -15px;
}

.BorderBottom {
    border-bottom: 1px dotted #82abcc;
}

#DivShowCritical table td {
    padding: 3px;
}

#DivShowCritical table {
    border-spacing: 4px 0px;
}