/* 
    Document   : kSCtaov
    Created on : 11.04.2013, 16:34:16
    Author     : sbaresel
    Description:
        Purpose of the stylesheet follows.
*/

#Taov {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background-color: #82abcc;
}

